 /* 仙台パルコの左側に余白20px追加 marginrightleftにautoをnavタグと一緒に設定する→aタグの余白と実線消える*/
 .decoration {
  color: #fff;
  padding-left: 20px;
 }

 /* navに余白10px追加　paddingだと下の余白なくなる→marginで設定→なってない？　*/
 nav {
  text-align: right;
  margin: 10px;
 }

 
 /* .text-white {
  color: #fff;
 } */

 /* 全体的にpc画面の50%の幅 */
  /* html { 
    width: 50%;
  } */

  /* header  全体的にpc画面の50%の幅、全体を画面中央に配置→texr-align centerにしたら仙台パルコの文字が中央揃えになった為margin left auto margin right auto。上側と右側に余白10px追加→margin10px10px0px0pxに設定すると中央寄せ出来ない→header全体ではなく子孫要素もしくは一つ一つに中央寄せ設定する？*/
  /* h1 decorationの部分にmargin block startとendがcssに記載されているようで（検証から）headerに余白を上10pxにしても相殺されてる？ */
  header {
    width: 50%; 
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }

  /* section  全体的にpc画面の50%の幅、全体を画面中央に配置*/
  section {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  
 /* 仙台パルコの黒グラデーションの高さ100pxに設定 */
  .parent-decoration {
    height: 120px;
    background: linear-gradient(to right, #333 20%, transparent 80%) ;
    padding-top: 10px;
    padding-right: 10px;
  } 

 /* 赤の帯の高さ30pxに設定 幅を50%に設定すると黒のグラデーションの半分の幅になるが施設案内などが2行になり2行目が見えなくなる→aタグで別にフォント16→10pxに変更する*/
  .child-decoration {
    height: 30px;
    background: #E50914;
    width: 50%;
  }

  /* ナビゲーションの項目（「施設案内」など)の右側に余白15pと縦の実線(太さ：2px　色：白)を追加 */
  a {
    display: inline-block;
    border-right: solid 2px #fff;
    padding-right: 15px;
  } 
/* お問い合せページのご案内に擬似要素を使用して両側に罫線を引く
→::afterと要素の間に空白を作りたいからpaddingを設定してみる→変わらず要素のすぐ後ろに罫線くる。
maegin設定→何も変わらず。padingとmarginどちらも設定→::beforeの空白なくなって左側に寄る*/
 .intro {
  text-align: center;
  font-size: 24px;
 }

 #third-heading {
  text-align: center;
  font-size: 20px;
 }

 /* 仙台パルコ問い合わせページをご覧いただきありがとうございます。の背景色を黄色に */
 /* article > p { 
  background: #FFD814;
 } */

 .color {
  color: #E50914;
 }

 /* 仙台パルコ問い合わせページをご覧いただきありがとうございます。の背景色黄色の高さを70pxに 余白15px追加*/
 article p {
  height: 70px;
  background: #FFD814;
  letter-spacing: -0.07em;
  padding: 15px;
 }

 /* 画面全体の50%の幅 */
 .contact {
  font-size: 24px;
  text-decoration: underline;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
 }

 /* 設問だけ背景黄色に 黒丸::beforeでつけたら文字の上に黒丸来るからpaddingで文字の位置ずらす*/
 .container label {
  background: #FFD814;
  font-size: 18px;
  font-weight: bold;
  padding-left: 25px;
 }

 /* 「＊は必須項目です」緑色、上下に余白15px追加 */
 .first-heading {
  color: #00B900;
  margin: 15px 0px;
 }

.text-red {
  font-size: 30px;
  color: #E50914;
  text-align: center;
}

/* © PARCO CO., LTD.」の上側に余白15ｐｘ追加 */
.logo {
  text-align: center;
  color: #fff;
  padding: 15px 0px 0px 0px;
}

/* 緑の帯の下に黒の帯を設定する */
.parent {
  height: 80px;
  background: #00B900;
}
.child { 
  height: 40px;
  background: #333;
}

.color-green {
  color: #00B900;
}

/* form 画面全体の50%の幅、中央寄せ、入力フォームの内側に余白20ｐｘ追加 htmlのbrを削除、padding20px設定 */
form {
  color: #333;
  border: solid 1px #00B900; 
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/* お問い合わせありがとうございましたを画面全体の50%の幅、中央寄せ→text-alignとmarginrightleftを一緒に設定しないと中央寄せにならない */
#second-heading {
  font-size: 30px;
  color: #E50914;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* *を緑色に設定 */
label span {
  color: #00B900;
}

/* 施設案内などのフォントを16→10pxに設定しないとwidth50%にすると2行になって見えなくなる */
nav a {
  color: #fff;
  font-size: 10px;
}

/* formタグの高さを500pxに設定する→labelに余白上下15pxを設定するとはみ出るからheight500px外していい
form {
  height: 500px;
}  */

/* 設問部分の上下に余白15px追加→labelはinlineだからdisplayblockかinlineblockに設定する*/
label {
 display: block;
 margin: 15px 0px; 
}

/* footerを画面全体の50%の幅、中央寄せ */
footer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* お問い合わせページのご案内の左右に罫線　擬似要素を使って→これだと下線になった 
h2 {
  position: relative;
}
h2::before {
  position: absolute;
  content: "";
  top: 50%;
  width: 300px;
  height: 1px;
  color: #333;
}

h2::after {
  position: absolute;
  content: "";
  top: 50%;
  width: 300px;
  height: 1px;
  color: #333;
}　*/

/* お問い合わせページのご案内の左右に罫線　擬似要素を使って →要素の上に左側から罫線出没
h2 {
  position: relative;
}
h2::before {
  content: "";
  display: inline-block;
  top: 50%;
  width: 300px;
  height: 1px;
  background-color: #333;
  position: absolute;
  top: -2px;
  left: -5px;
}  */

/* 「お問い合わせページのご案内」の左右に罫線　擬似要素を使って
→300pxにすると文字に重なるので200pxにしてみた。
after設定したら後ろに出ないで300pxに設定したらbeforeの部分が300pxになって文字に重なる。
::beforeにdisplay;block設定で左側に要素と罫線の間に空白できた。
::after display;block設定→罫線なくなった。
inlineとinline-block設定→罫線あるけど空白一番右側にある感じ。
afterにmargin-left40pxを設定してみる→要素と罫線の間に空白できた*/
h2 {
  position: relative;
}

h2::before {
  content: "";
  display: block;
  width: 150px;
  height: 1px;
  background-color: #333; 
  position: absolute;
  top: 50%;
}
h2::after {
  content: "";
  display: inline-block;
  width: 150px;
  height: 1px;
  background-color: #333; 
  position: absolute;
  top: 50%;
  margin-left: 40px;
}
/* 設問の左側に黒丸横縦20px→display:inline-block入れないと背景色黄色が右端まで伸びる。left-22pvにすると余白の部分に黒丸きて背景色の外にある。
  left書かない（もしくはleftopx)だと文字の上に黒丸くる背景色黄色の中にある 
  背景色黄色設定部分でpadding設定した。同時にここでleft0px設定する（left設定しないと文字の上に黒丸くる）*/
.container label {
  position: relative;
  display: inline-block; 
}

.container label::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
  top: 3px;
  left: 0px;
}

/* グローバルナビゲーションの2・4番目の文字の色を黒にしてください。
    nty-of-type(2n)で偶数番目に適用 */
.parent-decoration a:nth-of-type(2n) {
  color: #333;
}

/* 設問の1・3・5番目をホバーした際に背景色と文字の色を変更してください。 
背景色は#ccc、文字の色は＃ｆｆｆを使用してください。
→labelの後ろに半角空くと効かない
また変更開始から終了までの時間は.3s　動きは滑らかにしてください*/
.container label:nth-of-type(odd) {
 background-color: #FFD814;
 transition: all 0.3s ease-in-out;
}

.container label:nth-of-type(odd):hover {
 background-color: #ccc;
 color: #fff;
}

/* 送信ボタンを以下のように変更してください
a)背景色を赤に変更(背景色はredを使用)
b)ホバーした際に背景色の色を変更してください(背景色はgreenを使用)
またまた変更開始から終了までの時間は.3s　動きは滑らかにしてください
 */
.btn-submit {
  background-color: red ;
  transition: all 0.3s ease-in-out;
}
.btn-submit:hover {
 background-color: #00B900;
}